main {
	.lista_notas_vistaPrevia_izquierda {
		.cabecera_vistaPrevia_notas {
			@include centrarContenido(space-between, center, row);
			margin: 0 1em;
			height: 10%;

			.img_container {
				width: 10%;
				color: $AzulOscuro;
				.material-icons {
					font-size: 36px;
				}
			}
			.titulo_vistaPrevia_notas {
				color: #222831;
				font-size: 2.75vmax;
			}
			.boton_vistaPrevia_notas {
				background: $NaranjaClaro;
				border: none;
				border-radius: 15px;
				color: $BlancoClaro;
				font-size: 1.4vmax;
				font-weight: 600;
				height: 72%;
				transition: all ease-in-out 0.2s;
				width: 30%;
				&:hover {
					background: $NaranjaClaro;
					cursor: pointer;
					filter: brightness(110%);
				}
			}
		}
		.notes_list {
			height: 90%;

			.list {
				overflow-y: auto;
				padding: 0 .51em;
				height: 100%;
				.note_item {
					border: 2px solid #8081813d;
					border-radius: 05px;
					@include centrarContenido(center, flex-start, column);

					height: 4.5em;
					margin: 0.8em 0;
					padding: 0 0.5em;
					overflow: hidden;
					.titulo_nota_item_vistaPrevia {
						overflow: hidden;
						@include centrarContenido(space-between, flex-start, row);
						width: 100%;
						height: 30%;
						font-weight: 700;
						font-size: 1.2em;
						color: $NegroClaro;
						.delete-icon {
							// color: $NegroOscuro;
							opacity: 0.5;
							&:hover  {
								opacity: 1;
								filter: drop-shadow(1px 1px 1px $NegroClaro);
							}
						}
					}
					.content_note {
						color: $NegroClaro;
						text-align: justify;
						width: 100%;
						height: 70%;
					}
					&:hover {
						cursor: pointer;
						box-shadow: -2px 2px 5px 1px rgba(184, 184, 184, 1);
					}
					&:hover .titulo_nota_item_vistaPrevia {
						color: $NegroOscuro;
					}

					&:hover .titulo_nota_item_vistaPrevia .delete-icon {
						color: $RojoClaro;
					}

				
				}
			}
		}
	}
}
