// Colores:
$BlancoOpaco:	 #f1f1f1;
$BlancoClaro:	 #fafafa;
$NaranjaClaro:		 #e28b63;
$NegroClaro:		 #393e46;
$NegroOscuro:		 #222831;
$AzulOscuro:		 #006a71;
$AzulClaro:			 #00adb5;
$RojoClaro:			 #ff4b5c;

//Funciones para ahorrar contenido:
@mixin centrarContenido($justifyContent, $alignItems, $flexDirection) {
	display: flex;
	justify-content: $justifyContent;
	align-items: $alignItems;
	flex-direction: $flexDirection;
}
// Otras clases de css
@import 'header';
@import 'main';
@import 'notes_view';
@import 'notesPreview';

// Configuraciones generales de estilo
* {
	padding: 0;
	margin: 0;
	word-wrap: break-word;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
	height: 100vh;
}

body {
	background: #eeeeee;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 1200px;
	width: 90vw;
	height: 100vh;
	margin: 0 auto;
}

.img {
	width: 100%;
}
