// Colores:
$FondoBlancoOpaco: #f1f1f1;
$NaranjaClaro: #e28b63;
$NegroClaro: #393e46;
$NegroOscuro: #222831;

//Funciones para ahorrar contenido:
@mixin centrarContenido($justifyContent, $alignItems, $flexDirection) {
	display: flex;

	// justify-content:  ;
	// align-items:      ;
	// flex-direction:   ;

	justify-content: $justifyContent;
	align-items: $alignItems;
	flex-direction: $flexDirection;
	// Esta funcion alinea vertical y horizontalmente los elementos de un contenedor.
}
// Otras clases de css
@import 'header';
@import 'notes_view';
@import 'notesPreview';

// Configuraciones generales de estilo
* {
	padding: 0;
	margin: 0;
	word-wrap: break-word;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
	height: 100%;
}

body {
	background: #eeeeee;
}

.content {
	max-width: 1200px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.img {
	width: 100%;
}
