header {
  width: 95vw;
  height: 10vh;
}

header .cabecera {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .cabecera .img_container {
  width: 5vw;
  padding: 5px;
}

header .cabecera .img_container img {
  width: 90%;
}

header .cabecera .title h2 {
  font-size: 1.9vmax;
  font-weight: 900;
  color: #222831;
}

header .cabecera .title p {
  font-weight: 500;
  font-size: 1.3vmax;
  color: #393e46;
  position: relative;
}

header .cabecera .title p::before {
  position: absolute;
  content: '';
  width: 50%;
  height: 1px;
  background: #222831;
}

main {
  height: 85vh;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .lista_notas_vistaPrevia_izquierda {
  height: 100%;
  width: 30%;
  -webkit-box-shadow: -2px 2px 5px 1px #b8b8b8;
          box-shadow: -2px 2px 5px 1px #b8b8b8;
  background: #f1f1f1;
  border-radius: 15px;
  overflow: hidden;
}

main .campo_notas_derecha {
  height: 100%;
  width: 70%;
  -webkit-box-shadow: 0px 1px 5px 1px #b8b8b8;
          box-shadow: 0px 1px 5px 1px #b8b8b8;
  margin: 0 1em;
}

main .campo_notas_derecha .cabecera_notas {
  height: 9%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .campo_notas_derecha .cabecera_notas #entrada {
  background: #fafafa;
  border: none;
  color: #222831;
  font-size: 26px;
  height: 100%;
  padding: 0 0.5em;
  width: 85%;
}

main .campo_notas_derecha .cabecera_notas .boton {
  background: #1bb198;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #f1f1f1;
  height: 100%;
  width: 15%;
}

main .campo_notas_derecha .cabecera_notas .boton:hover {
  text-decoration: underline;
  background: #12bcc5;
  cursor: pointer;
}

main .campo_notas_derecha .contenedor_notas {
  width: 100%;
  height: 85%;
  background: #f1f1f1;
}

main .campo_notas_derecha .contenedor_notas #area_notas {
  color: #1a1c20;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  border: none;
  font-size: 20px;
}

main .campo_notas_derecha .contenedor_notas #area_notas:active, main .campo_notas_derecha .contenedor_notas #area_notas:hover, main .campo_notas_derecha .contenedor_notas #area_notas:focus {
  border: none;
}

main .campo_notas_derecha .editor_notas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fafafa;
  -webkit-box-shadow: 0px -1px 5px 1px rgba(184, 184, 184, 0.5);
          box-shadow: 0px -1px 5px 1px rgba(184, 184, 184, 0.5);
  height: 6%;
  padding: 0 0.5em;
  width: 100%;
}

main .campo_notas_derecha .editor_notas .Modification {
  font-weight: 600;
  color: #393e46;
}

main .campo_notas_derecha .editor_notas .Modification #date-modification {
  padding-left: 12px;
  font-weight: 700;
  opacity: 0.7;
}

main .campo_notas_derecha .editor_notas .icons {
  position: relative;
}

main .campo_notas_derecha .editor_notas .icons .material-icons {
  color: #393e46;
}

main .campo_notas_derecha .editor_notas .icons .material-icons:hover.choose-color {
  cursor: pointer;
  color: #006a71;
  -webkit-filter: drop-shadow(1px 1px 10px #00adb5);
          filter: drop-shadow(1px 1px 10px #00adb5);
}

main .campo_notas_derecha .editor_notas .icons .material-icons:hover.delete {
  cursor: pointer;
  color: #ff4b5c;
  -webkit-filter: drop-shadow(1px 1px 10px #e28b63);
          filter: drop-shadow(1px 1px 10px #e28b63);
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: popUp 0.4s ease 0s 1 normal both;
          animation: popUp 0.4s ease 0s 1 normal both;
  background: #fafafa;
  bottom: 110%;
  border-radius: 20px 20px 0px 20px;
  -webkit-box-shadow: 1px -1px 5px 1px rgba(184, 184, 184, 0.5);
          box-shadow: 1px -1px 5px 1px rgba(184, 184, 184, 0.5);
  height: 210px;
  position: absolute;
  padding: 10px;
  right: 40px;
  width: 350px;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .button-color {
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px #c2c2c2;
          box-shadow: 0px 0px 5px 1px #c2c2c2;
  border-radius: 5px;
  -webkit-transition: all ease 0.15s;
  transition: all ease 0.15s;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .button-color:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 1px #919191;
          box-shadow: 0px 0px 5px 1px #919191;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .title-colors {
  color: #393e46;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin: 5px 0;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-fondo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  width: 100%;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-fondo .colores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-fondo #fondo-color-blanco {
  background: #f1f1f1;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-fondo #fondo-color-naranja {
  background: #ff7e67;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-fondo #fondo-color-azul {
  background: #68b0ab;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-fondo #fondo-color-amarillo {
  background: #ffc93c;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-fondo #fondo-color-rosa {
  background: #d789d7;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-fondo #fondo-color-rojo {
  background: #ff4b5c;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-fondo #fondo-color-verde {
  background: #91d18b;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-letras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50%;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-letras .colors {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-letras #letra-color-negro {
  background: #1a1c20;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-letras #letra-color-blanco {
  background: #f1f1f1;
}

main .campo_notas_derecha .editor_notas .icons .colors-pallete .colores-letras #letra-color-gris {
  background: #4c4e57;
}

.hide {
  display: none;
}

.desaparecer {
  -webkit-animation: popUpReverse 0.4s ease 0s 1 normal both;
          animation: popUpReverse 0.4s ease 0s 1 normal both;
}

@-webkit-keyframes popUp {
  0.0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popUp {
  0.0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes popUpReverse {
  0.0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  99.5% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes popUpReverse {
  0.0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  99.5% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

main .lista_notas_vistaPrevia_izquierda .cabecera_vistaPrevia_notas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 1em;
  height: 10%;
}

main .lista_notas_vistaPrevia_izquierda .cabecera_vistaPrevia_notas .img_container {
  width: 10%;
  color: #006a71;
}

main .lista_notas_vistaPrevia_izquierda .cabecera_vistaPrevia_notas .img_container .material-icons {
  font-size: 36px;
}

main .lista_notas_vistaPrevia_izquierda .cabecera_vistaPrevia_notas .titulo_vistaPrevia_notas {
  color: #222831;
  font-size: 2.75vmax;
}

main .lista_notas_vistaPrevia_izquierda .cabecera_vistaPrevia_notas .boton_vistaPrevia_notas {
  background: #e28b63;
  border: none;
  border-radius: 15px;
  color: #fafafa;
  font-size: 1.4vmax;
  font-weight: 600;
  height: 72%;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  width: 30%;
}

main .lista_notas_vistaPrevia_izquierda .cabecera_vistaPrevia_notas .boton_vistaPrevia_notas:hover {
  background: #e28b63;
  cursor: pointer;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

main .lista_notas_vistaPrevia_izquierda .notes_list {
  height: 90%;
}

main .lista_notas_vistaPrevia_izquierda .notes_list .list {
  overflow-y: auto;
  padding: 0 .51em;
  height: 100%;
}

main .lista_notas_vistaPrevia_izquierda .notes_list .list .note_item {
  border: 2px solid #8081813d;
  border-radius: 05px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 4.5em;
  margin: 0.8em 0;
  padding: 0 0.5em;
  overflow: hidden;
}

main .lista_notas_vistaPrevia_izquierda .notes_list .list .note_item .titulo_nota_item_vistaPrevia {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 30%;
  font-weight: 700;
  font-size: 1.2em;
  color: #393e46;
}

main .lista_notas_vistaPrevia_izquierda .notes_list .list .note_item .titulo_nota_item_vistaPrevia .delete-icon {
  opacity: 0.5;
}

main .lista_notas_vistaPrevia_izquierda .notes_list .list .note_item .titulo_nota_item_vistaPrevia .delete-icon:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(1px 1px 1px #393e46);
          filter: drop-shadow(1px 1px 1px #393e46);
}

main .lista_notas_vistaPrevia_izquierda .notes_list .list .note_item .content_note {
  color: #393e46;
  text-align: justify;
  width: 100%;
  height: 70%;
}

main .lista_notas_vistaPrevia_izquierda .notes_list .list .note_item:hover {
  cursor: pointer;
  -webkit-box-shadow: -2px 2px 5px 1px #b8b8b8;
          box-shadow: -2px 2px 5px 1px #b8b8b8;
}

main .lista_notas_vistaPrevia_izquierda .notes_list .list .note_item:hover .titulo_nota_item_vistaPrevia {
  color: #222831;
}

main .lista_notas_vistaPrevia_izquierda .notes_list .list .note_item:hover .titulo_nota_item_vistaPrevia .delete-icon {
  color: #ff4b5c;
}

* {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  background: #eeeeee;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}

.img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */